

.active a {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}

.active {
  border-left: 2px solid rgb(0, 0, 0);
  padding-left: 4px;
  background-color: rgb(214, 214, 214);
  border-radius: 2px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

html body #toc .hide-me {
  height: 0px !important;
  opacity: 0;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;  
}

h1,h2,h3,h4,h5 {
 border-bottom: 0px;
}

h2 {
    margin-top: 120px;
}

.ambox {
    display: none !important;
}


#right-navigation {
 margin-top: 1em;
}

.mw-body {
 border: 0px;   
}

#toc {
    position: fixed;
    border: 5px solid white;
    background: white;
    left: 0px;
    top: 0px;
    z-index: 9999;
    width: 216px;
}

.viewport {
  height: 100vh;
  overflow: auto;
}

#mw-panel {
  position: relative !important;
  /*display: none !important;*/
}

#toc ul:nth-of-type(1) {
    overflow: auto;
}

#toc ul:nth-of-type(1) :hover {
    background: rgb(224, 224, 224);
}

#toc ul ul {
    overflow: visible;
    height: auto !important;
    margin-top: 4px;
}

#toc ul ul li {
 font-size: 12px;
}

html body .mw-body {
    padding-left: 2em !important;
    margin-left: 240px;
}

/* unhiding the side panel in hopes of adding it 
to the bottom of the left sidebar */

/* #mw-panel {
   position: absolute;
   top: -9999px;
   left: -9999px;
} */

#mw-panel {
    position: relative !important;
}

#split-bar {
    background-color:rgb(218, 218, 218);
    height: 100vh;
    position: absolute;
    right: -3px;
    width: 6px;
    top: 0px;
    cursor: col-resize;
}

#left-navigation {
    margin-left: 240px;
    padding-left: 4em !important;
}